<div class="order-complete-container">
    <h2>@FFY.Web.Resources.Language.OrderComplete</h2>
    @Html.ActionLink(FFY.Web.Resources.Language.Home, "home", "index", new { area = "" }, new { @class = "btn btn-primary" })
</div>

