@using FFY.Web.Areas.Profile.Models
@model FavoriteProductsViewModel

@if (Model.FavoriteProductsCount == 0)
{
    <h2 class="empty-favorites-list">@FFY.Web.Resources.Language.NoFavoriteProducts</h2>
}
else
{
    <div class="row">
        @foreach (var product in Model.FavoriteProducts)
        {
        <div class="col-xs-6 col-sm-3 favorite-product-list-item">
            <div class="favorite-product-wrapper">
                <a href="@Url.Action("product", "furniture", new { area = "", id= product.Id })">
                    <img src="~/Images/products/@product.ImagePath" class="img-responsive" />
                    <div class="favorite-product-name">
                        @product.Name
                    </div>
                </a>
            </div>
        </div>
        }
    </div>
    <div class="row col-xs-12">
        <ul class="pagination">
            @for (int i = 1; i <= Model.Pages; i++)
                {
                <li class=@(i == Model.Page ? "active" : "")>
                    @Ajax.ActionLink(i.ToString(), "PagingProducts",
                new
                {
                    Page = i
                },
                new AjaxOptions()
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "products-results",
                    InsertionMode = InsertionMode.Replace
                })
                </li>
            }
        </ul>
    </div>
}
