<div class="row">
    <div class="favorite-products-container">
            @Html.Action("PagingProducts")
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

