<div class="row">
    <div class="products-management-container">
        @using (Ajax.BeginForm("SearchProducts", null,
                new AjaxOptions()
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "products-results",
                    InsertionMode = InsertionMode.Replace,
                },
                new { id = "search-form" }))
        {
        }
        <div id="products-results" class="col-sm-12">
            @Html.Action("PagingProducts")
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

