
@{
    ViewBag.Title = "Index";
}

<h2>Product Index</h2>
@Html.ActionLink("Add new product", "productAddition", "productManagement", new { area = "administration" }, null);

@Html.Partial("RoomPartial")
@Html.Partial("CategoryPartial")




