
@{
    ViewBag.Title = "Index";
}

<h2>Product Index</h2>
@Html.ActionLink(@FFY.Web.Resources.Language.AddProduct, "productAddition", "productManagement", new { area = "administration" }, null);

@Html.Partial("RoomPartial")
@Html.Partial("CategoryPartial")




