body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("./sources/background.jpg");    
}

.clear-body {
    padding: 0px;
    background: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px !important;
}

/* Bootstrap custom */
.pagination>li>a, 
.pagination>li {
    border-radius: 0px !important;
    border: 0px !important;
}

.pagination>.active>a {
    background-color: #52658F !important;
    color: #FFFFFF !important;
}

/* General */
.body-content {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #FFFFFF;
}

.dl-horizontal dt {
    white-space: normal;
}

hr {
    border-top: 1px solid #FAFAFA !important;
}

input,
select,
textarea,
.btn{
    max-width: 280px;
}

textarea {
    resize: none;
}

footer{
    text-align: center;
}

.validation-summary-errors ul {
    list-style: none;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    padding: 0px;
}

/* Navigation */

.cart-container {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

/* Login page */
.login-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.login-container h2 {
    text-align: center;
}

#login-form {
    padding: 0px 30px;
}

.login-container a:hover {
    text-decoration: none;
}

/* Register page */

.register-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.register-container h2 {
    text-align: center;
}

#register-form {
    padding: 0px 30px;
}

/* Contact page */

.contact-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contact-container textarea {
    min-height: 150px;
}

.contact-container h2 {
    text-align: center;
}

#contact-form {
    padding: 0px 30px;
}

/* Order page */

.order-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.order-container h2 {
    text-align: center;
}

.order-container .radio-options {
    padding-left: 35px;
    padding-bottom: 15px;
}

#order-form {
    padding: 0px 30px;
}

/* Order complete page */
.order-complete-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.order-complete-container h2 {
    padding: 40px 0px;
}

.order-complete-container a {
    min-width: 150px 0px;
}

/* Profile page */

.profile-email {
    color: #AAAAAA;
}

.profile-order-history {
    padding-bottom: 15px;
}

.profile-information-orders {
    margin: 0px 15px;
}

.order-content {
    display:none;
}

.order-header {
    color: #FFFFFF;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
}

.order-header-color-hidden {
    background-color: #52658F;
}

.order-header-color-shown {
    background-color: #2D3851;
}

.order-list {
    margin: 15px;
}

.order-list-head {
    background-color: #52658F;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 16px;
}

.order-list-item {
    display: block;
    line-height: 50px;
    padding: 10px 0px;
}

.order-list-item:nth-of-type(n) {
    background-color: #FFFFFF;
}

.order-list-item:nth-of-type(2n) {
    background-color: #FAFAFA;
}

.o-status {
    text-align: right;
}

@media (max-width: 767px) {
    .o-product {
        text-align: center;
    }
}

@media (max-width: 960px) {
    .o-status {
    text-align: left;
    }
}

.o-product img {
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.o-single-price,
.o-quantity,
.o-total-price {
    text-align: center;
}

.order-list-foot {
    margin-bottom: 15px;
}

.o-total {
    text-align: center;
    font-size: 22px;
}

.search-header input,
.search-header button,
.search-header select {
    margin-bottom: 20px;
}

/* Users management page */

.user-management-container {
    margin: 15px;
}

.users-list-head  {
    background-color: #52658F;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 16px;
}

.user-list-item {
    display: block;
    line-height: 40px;
}

.user-list-item:nth-of-type(n) {
    background-color: #FFFFFF;
}

.user-list-item:nth-of-type(2n) {
    background-color: #FAFAFA;
}

.empty-users-list {
    padding-top: 60px;
    text-align: center;
}

@media (max-width: 767px) {
    .u-name,
    .u-email,
    .u-details {
        text-align: center;
    }
}

/* Products management page */

.product-management-container {
    margin: 15px;
}

.products-list-head  {
    background-color: #52658F;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 16px;
}

.product-list-item {
    display: block;
    line-height: 40px;
}

.product-list-item:nth-of-type(n) {
    background-color: #FFFFFF;
}

.product-list-item:nth-of-type(2n) {
    background-color: #FAFAFA;
}

.empty-product-list {
    padding-top: 60px;
    text-align: center;
}

.add-product a{
    max-width: 260px;
}

@media (max-width: 767px) {
    .p-name,
    .p-price,
    .p-room,
    .p-category,
    .p-edit,
    .p-details {
        text-align: center;
    }
}

/* Contacts management page */

.contact-management-container {
    margin: 15px;
}

.contacts-list-head  {
    background-color: #52658F;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 16px;
}

.contact-list-item {
    display: block;
    line-height: 40px;
}

.contact-list-item:nth-of-type(n) {
    background-color: #FFFFFF;
}

.contact-list-item:nth-of-type(2n) {
    background-color: #FAFAFA;
}

.empty-contact-list {
    padding-top: 60px;
    text-align: center;
}

@media (max-width: 767px) {
    .c-title,
    .c-email,
    .c-send-on,
    .c-status,
    .c-details {
        text-align: center;
    }
}

/* Orders management page */

.order-management-container {
    margin: 15px;
}

.orders-list-head  {
    background-color: #52658F;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 16px;
}

.order-list-item {
    display: block;
    line-height: 40px;
}

.order-list-item:nth-of-type(n) {
    background-color: #FFFFFF;
}

.order-list-item:nth-of-type(2n) {
    background-color: #FAFAFA;
}

.empty-order-list {
    padding-top: 60px;
    text-align: center;
}

@media (max-width: 767px) {
    .or-id,
    .or-sender,
    .or-address,
    .or-send-on,
    .or-status,
    .or-details {
        text-align: center;
    }
}

/* Favorite products page */
.favorite-products-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.empty-favorites-list{
    padding-top: 20px;
    text-align: center;
}


.favorite-product-list-item {
    margin-bottom: 30px;
}

.favorite-product-wrapper {
    border: 1px solid #EEEEEE;
    min-height: 250px;
    padding: 20px;
}

.favorite-product-wrapper:hover a{
    text-decoration: none;
    background-color: #EEEEEE;
}

.favorite-product-name {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}

@media (max-width:767px) {
    .favorite-product-wrapper {
        min-height: 250px;
    }
}

@media (max-width:310px) {
    .favorite-product-wrapper {
        min-height: 210px;
    }
}

/* Contact detailed page */
.contact-title {
    margin: 10px 0px;
}

.contact-send-on {
    text-align: right;
}

@media (max-width: 767px) {
    .contact-send-on {
        text-align: initial;
    }
}

.change-status-container input,
.change-status-container select {
    margin-bottom: 10px;
}


.change-role-container input,
.change-role-container select {
    margin-bottom: 10px;
}


/* Client chat */

#support-chat-link,
#support-chat-shower {
    position: fixed;
    bottom: 0;
    right: 8vw;
    width: 200px;
    padding-left: 15px;
    line-height: 35px;
    background-color: #EEEEEE;
    border: 1px medium #52658F;
    font-size: 16px;
    text-decoration: none;
}

#support-chat-link:hover,
#support-chat-shower:hover {
    background-color: #52658F;
    color: #FFFFFF;
    cursor: pointer;
}

#support-chat-wrapper {
    display: none;
    position: fixed;
    bottom: 0;
    right: 8vw;
    padding: 0px;
}

#support-chat-frame {
    margin: 0;
    height: 260px;
    border-top: 0px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 0px;
    border-color: #EEEEEE;
    border-style: solid;
    background-color: #FFFFFF;
}

#support-chat-header {
    background-color: #52658F;
    color: #FFFFFF;
    padding-left: 15px;
    line-height: 35px;
    font-size: 16px;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 0px;
    border-color: #EEEEEE;
    border-style: solid;
}

#support-chat-header:hover {
    cursor: pointer;
}

.chat-container {
    margin-top: 10px;
    width: auto;
    height: 215px;
    overflow: auto;
}

.chat-container ul {
    list-style: none;
    padding-left: 15px;
}

.chat-message-container #message {
    width: 300px;
    border: 0;
    line-height: 30px;
    margin-left: 15px;
}

.chat-message-container #message:focus {
    outline: none;
}

.chat-message-container {
    border-top: 1px solid #EEEEEE;
    width: auto;
}

/* Admin chat */
.admin-chat-container {
    min-height: 500px;
    max-width: 800px; 
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #EEEEEE;
}

.admin-message-container {
    margin-top: 15px;
    overflow: auto;
    height: 405px;
    border: 2px solid #EEEEEE;
    padding-top: 10px;
}

.admin-message-container ul {
    list-style: none;
    padding-left: 15px;
}

.admin-message-inputs {
    border-top: 0px;
    border-bottom: 2px;
    border-left: 2px;
    border-right: 2px;
    border-style: solid;
    border-color: #EEEEEE;
    width: 100%;
}

.admin-message-inputs #message,
.admin-message-inputs #receiver {
    width: 300px;
    border: 0;
    line-height: 30px;
    margin-left: 15px;
}

.admin-message-inputs #message:focus,
.admin-message-inputs #receiver:focus {
    outline: none;
}

.admin-support-container {
    height: 200px;
    border: 2px solid #EEEEEE;
    padding-left: 10px;
    margin-top: 15px;
    padding-top: 10px;
}

.admin-client-container {
    height: 255px;
    border: 2px solid #EEEEEE;
    padding-left: 10px;
    margin-top: 15px;
    padding-top: 10px;
}

.admin-support-container h4,
.admin-client-container h4 {
    padding-bottom: 10px;
    font-weight: bold;
}

.admin-client-list {
    overflow: auto;
    height: 210px;
}

.admin-support-list {
    overflow: auto;
    height: 155px;
}

.admin-client-container ul,
.admin-support-container ul {
    list-style: none;
    padding: 0px;
}

.admin-client-container li:hover,
.admin-support-container li:hover {
    cursor: pointer;
    color: #52658F;
}

/* Detailed product */
.img-center{
    margin-left: auto;
    margin-right: auto;
}

.product-detail-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 4px;
}

.product-detail-title-sub {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #B1B1B3;
}

.product-detail-price {
    font-size: 36px;
    line-height: 30px;
    color: #52658F;
    float: left;
    width: 100%;
    font-weight: bold;
    letter-spacing: -1.5px;
    margin: 15px 0 20px 0;
}

.product-detail-description {
    min-height: 150px;
}

.product-detail-additional {
    padding-bottom: 10px;
}

.product-detail-status img, .product-detail-rating img {
    margin-right: 5px;
}

.available {
    text-transform: uppercase;
    color: #39B54A;
}

.unavailable {
    text-transform: uppercase;
    color: #DF382C;
}

.star {
    margin: 6px 3px;
}

.star-rating:hover {
    cursor: pointer;
}

/* Product addition page */

#product-addition-form {
    max-width: 550px; 
    margin-right: auto;
    margin-left: auto;
}

.addition-form {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FAFAFA;
    padding-bottom: 10px;
}

#room-addition-form {
    display:none;
    position: absolute;
    left:0;
    right:0;
}

#category-addition-form {
    display:none;
    position: absolute;
    left:0;
    right:0;    
}

.addition-dummy {
    min-height: 245px;
    display: none;
}

.browse-image {
    width: 100%;
    max-width: 280px;
}

#add-room-show:hover,
#add-room-hide:hover, 
#add-category-show:hover,
#add-category-hide:hover {
    cursor: pointer;
}

@media (max-width: 767px) {
    #room-addition-form {
        padding: 0px 15px;
    }
    .addition-dummy {
        min-height: 270px;
    }

    #category-addition-form {
        padding: 0px 15px;
    }

    #product-addition-form {
        padding: 0px 15px;
    }
}

/* Shopping cart page */
.shopping-cart-list {
    margin: 15px;
}

.shopping-cart-list-head {
    background-color: #52658F;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 16px;
}

.shopping-cart-list-item {
    display: block;
    line-height: 50px;
    padding: 10px 0px;
}

.shopping-cart-list-item:nth-of-type(n) {
    background-color: #FFFFFF;
}

.shopping-cart-list-item:nth-of-type(2n) {
    background-color: #FAFAFA;
}

.sc-product img {
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.sc-single-price,
.sc-quantity,
.sc-total-price {
    text-align: center;
}

.shopping-cart-list-foot {
    margin: 15px;
}

.sc-total {
    text-align: center;
    font-size: 22px;
}

.shopping-cart-remove-item:hover {
    cursor: pointer;
}

.empty-shopping-cart{
    padding-top: 20px;
    text-align: center;
}

.purchase-button {
    min-width: 150px;
}

@media (max-width: 767px) {
    .sc-product {
        text-align: center;
    }
}
