body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("./sources/background.jpg");    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px !important;
}

/* General */
.body-content {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #FFFFFF;
}

.dl-horizontal dt {
    white-space: normal;
}

hr {
    border-top: 1px solid #FAFAFA !important;
}

input,
select,
textarea,
.btn{
    max-width: 280px;
}

textarea {
    resize: none;
}

footer{
    text-align: center;
}

/* Navigation */

.cart-container {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

/* Detailed product */
.img-center{
    margin-left: auto;
    margin-right: auto;
}

.product-detail-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 4px;
}

.product-detail-title-sub {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #B1B1B3;
}

.product-detail-price {
    font-size: 36px;
    line-height: 30px;
    color: #52658F;
    float: left;
    width: 100%;
    font-weight: bold;
    letter-spacing: -1.5px;
    margin: 15px 0 20px 0;
}

.product-detail-description {
    min-height: 150px;
}

.star {
    margin: 6px 3px;
}

.star-rating:hover {
    cursor: pointer;
}

/* Product addition page */

#product-addition-form {
    max-width: 650px; 
    margin-right: auto;
    margin-left: auto;
}

.addition-form {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FAFAFA;
    padding-bottom: 10px;
}

#room-addition-form {
    display:none;
    position: absolute;
    left:0;
    right:0;
}

#category-addition-form {
    display:none;
    position: absolute;
    left:0;
    right:0;    
}

.addition-dummy {
    min-height: 245px;
    display: none;
}

.browse-image {
    width: 100%;
    max-width: 280px;
}

@media (max-width: 767px) {
    #room-addition-form {
        padding: 0px 15px;
    }
    .addition-dummy {
        min-height: 270px;
    }

    #category-addition-form {
        padding: 0px 15px;
    }

    #product-addition-form {
        padding: 0px 15px;
    }
}
