<div class="container">
    <div class="admin-chat-container">
        <div class="col-md-8">
            <div class="admin-message-container">
                <ul id="discussion"></ul>
            </div>
            <div class="admin-message-inputs">
                <input type="text" placeholder="Send to" id="receiver" />
                <input type="text" placeholder="Send message" id="message" />
                <input type="hidden" id="sender" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="admin-support-container">
                <h4>Support staff</h4>
                <div class="admin-support-list">
                    <ul id="support-staff"></ul>
                </div>
            </div>
            <div class="admin-client-container">
                <h4>Clients</h4>
                <div class="admin-client-list">
                    <ul id="clients"></ul>
                </div>
            </div="admin--container">
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerysignalr")

    <script src="~/signalr/hubs"></script>  
    <script type="text/javascript">
        $(function () {

                var chat = $.connection.supportChatHub;

            chat.client.addMessage = function (sender, message, receiver) {
                var encodedSender = $('<div />').text(sender).html();
                var encodedReceiver = $('<div />').text(receiver).html();
                var encodedMsg = $('<div />').text(message).html();

                var senderElement = '<div class="col-md-6"><strong>' + encodedSender + '</strong></div>';
                var receiverElement = '<div class="col-md-4"><strong>' + encodedReceiver + '</strong></div>';
                var messageElement = '<br /><div class="col-md-12">' + encodedMsg + '</div>';

                $('#discussion').append('<li>' + senderElement + receiverElement + messageElement +'</li>');
            };

            chat.client.connectSupport = function (name) {
                var encodedName = $('<div />').text(name).html();
                $('#support-staff').append('<li><div id="' + encodedName + '">' + encodedName + '</div></li>');
            }

            chat.client.connectClient = function (name) {
                var encodedName = $('<div />').text(name).html();
                $('#clients').append('<li><div id="' + encodedName +'">' + encodedName + '</div></li>');
            }

            chat.client.disconnectSupport = function (name) {
                $(document.getElementById(name)).remove();
            }

            chat.client.disconnectClient = function (name) {
                $(document.getElementById(name)).remove();
            }

            $('#sender').val("@this.User.Identity.Name");
            
            $('#message').focus();
            
            $.connection.hub.start().done(function () {
                $('#message').keypress(function (e) {
                    if (e.which == 13) {
                        chat.server.sendMessage($('#sender').val(), $('#receiver').val(), $('#message').val());
                        $('#message').val('').focus();
                    }
                })
            });
        });
    </script>
    <script type="text/javascript">
        $('#clients').on('click', 'li', function (e) {
            $('#receiver').val($(e.target).text());
        });
        $('#support-staff').on('click', 'li', function (e) {
            $('#receiver').val($(e.target).text());
        });
    </script>
}

